* {
  font-family: "Raleway", sans-serif;
  padding-left: 15px;
  padding-right: 10px;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  padding: 0px;
}
/* header */

header {
  padding-top: 15px;
  padding-left: 30px;
}
.top {
  display: flex;
  padding-bottom: 10px;
  padding-left: 0px;
}

.logotop {
  flex: 1;
  padding: 0px;
}

.top img {
  display: flex;
  height: 45px;
  margin-bottom: 10px;
  padding: 0px;
}

nav ul {
  display: flex;
  margin: 0px;
}

nav li {
  padding-top: 20px;
}

header li:hover {
  border-top: #0065fc 1px solid;
}

header a:hover {
  color: #0065fc;
}

.sub {
  display: flex;
  align-self: center;
  color: #0065fc;
  font-weight: 700;
  padding: 0px;
}

nav li {
  display: flex;
  font-size: 13px;
  margin-right: 15px;
  color: #0065fc;
}

a {
  text-decoration: none;
  color: #000000;
}

.description {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 13px;
  padding: 0px;
}

h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 0px;
}
.titre {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
/* map */

.map {
  display: flex;
  padding-left: 0px;
}

.logomap {
  padding-left: 0px;
}
.map i {
  font-size: 12px;
  background-color: #f2f2f2;
  padding: 10px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.Marseille input {
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  height: 25px;
  margin-left: -25px;
  padding-bottom: 5px;
}

::placeholder {
  color: #000000;
  font-weight: 700;
}

.bouton1 {
  background-color: #0065fc;
  font-weight: 700;
  color: white;
  border-width: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -12px;
}

.bouton2 {
  display: none;
}

/* filtres */

.filtres {
  display: flex;
  padding: 20px;
  margin: 20px 10px;
  padding-left: 0px;
}

.filtres i {
  color: #0065fc;
  background-color: #deebff;
  padding: 15px;
  border-radius: 50%;
  display: flex;
}

.filtres p {
  font-weight: 700;
  font-size: 14px;
}
.text p {
  font-weight: 700;
  font-size: 14px;
  margin-right: 5px;
  padding-left: 0px;
}
.text {
  padding-left: 0px;
}

.cartef:hover {
  background-color: #f2f2f2;
}

.cartef {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  border-left-style: none;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

/* infos */

.infos {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.infos i {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  padding: 0px;
  width: 10px;
  height: 10px;
  padding: 6px 6px 10px 6px;
}

.infos p {
  font-size: 15px;
}

/* body */

/* Hébergements à Marseille */

a {
  padding: 0px;
}
#Hebergements {
  background-color: #f2f2f2;
  border-radius: 1%;
  width: 65%;
}

#hebergement {
  font-size: 20px;
  margin-top: 40px;
}

.row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
#Hebergements img {
  object-fit: cover;
  padding: 0px 0px 0px 0px;
  border: 5px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px;
  width: 95%;
  height: 150px;
}

#Hebergements h3 {
  font-size: 15px;
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
}
.carteh i {
  margin: 5px 0px 5px -28px;
  padding: 0px 10px 0px 15px;
}

.pleine {
  color: #0065fc;
}
.grise {
  color: #f2f2f2;
}

#Hebergements p {
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  padding: 0px 10px 0px 10px;
}

#Hebergements .span {
  font-weight: 700;
  margin-left: -15px;
}

#Hebergements .spani {
  padding-left: 25px;
}

.carteh {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

#Afficher {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 20px;
  padding-left: 50px;
  display: flex;
}

/* Les plus populaires */

.Populaires {
  background-color: #f2f2f2;
  border-radius: 1%;
  width: 25%;
  padding-left: 0px;
}

#Populaires {
  font-size: 20px;
}

.entetepopu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logopopu {
  font-size: 25px;
  color: #000000;
}

.Populaires img {
  padding: 0px 0px 0px 0px;
  border: 5px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0px;
  object-fit: cover;
  max-width: 45%;
  height: 160px;
}

.Populaires h3 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.Populaires .span {
  font-weight: 700;
  margin-left: -15px;
}

.Populaires p {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.cartep i {
  margin-left: -30px;
}

.Populaires .spani {
  padding: 0px 0px 0px 10px;
}

.Populaires a {
  display: flex;
}

.cartep {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 90%;
}

.cartep img {
  height: 160px;
  width: 65%;
}
.textp {
  padding-left: 5px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contenuprincipal {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-left: 30px;
}

/* Activités */

h2 {
  padding-left: 30px;
}

#Activites {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 50px;
  padding-left: 30px;
}

.cartea1 {
  -webkit-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  padding: 0px;
  border-radius: 25px;
}

.cartea2 {
  -webkit-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
  padding: 0px;
  border-radius: 25px;
}

.h4 {
  display: flex;
  padding: 0px;
  margin: 0px;
}

#Activites img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px;
}

#Activites .h4 {
  margin: 10px;
  font-weight: 700;
}

#Activites a {
  width: 100%;
}
.cartea1 img {
  width: 100%;
  height: 90%;
}
.cartea1 {
  width: 20%;
  height: 550px;
}

.cartea1 p {
  padding: 0px;
  background-color: white;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.cartea2 {
  display: flex;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
}

.cartea2 img {
  width: 100%;
  height: 80%;
}
.cartea2 p {
  margin-top: 5px;
}

.col2 {
  width: 25%;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0px;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer li {
  padding: 0px;
  margin-bottom: 10px;
}

h5 {
  font-size: 19px;
  padding-left: 0px;
}

.apropos {
  padding-left: 30px;
}

.noshebergements {
  padding-left: 30px;
}

.Assistance {
  padding-left: 30px;
}

/* Mediaquerries */
/* Mobile */

@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }

  /* header */

  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logotop {
    display: flex;
    align-items: baseline;
  }

  .sub {
    padding-top: 12px;
  }
  .top .sub {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
  }
  .top .navheader {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    order: 3;
    flex-basis: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  header ul {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .acti {
    margin-right: 0px;
  }
  header li {
    padding-bottom: 8px;
    border-bottom: 1px #f2f2f2 solid;
    display: flex;
    justify-content: center;
  }
  header li:hover {
    border-bottom: 1px #0065fc solid;
    border-top: none;
  }
  .bordertop {
    flex-basis: 50%;
    margin-right: 0px;
  }
  .acti {
    flex-basis: 50%;
  }
  /* map*/

  .bouton1 {
    display: none;
  }

  .bouton2 {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #0065fc;
    border-width: 0px;
    border-radius: 10px;
    margin-left: -12px;
    padding: 10px;
  }

  .bouton2 i {
    background-color: #0065fc;
    padding: 0px;
    color: white;
  }
  /* filtres */
  .filtres {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    height: 250px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .filtres p {
    display: flex;
    align-items: center;
    /* font-size: 11px; */
    padding-left: 5px;
  }
  .cartef {
    margin-bottom: 15px;
    margin-left: 0px;
    width: 150px;
    padding-right: 0px;
    margin-right: 0px;
  }

  #ani {
    width: 190px;
  }
  #fami {
    width: 115px;
    display: flex;
    order: 4;
    margin-top: 42px;
  }
  .infos {
    margin-left: 10px;
    margin-bottom: 25px;
  }

  /* Populaires  */

  .Populaires {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Populaires i {
    padding-left: 18px;
  }
  /* hébergements */

  #Hebergements h2 {
    font-size: 25px;
  }
  #Hebergements img {
    width: 98%;
  }
  #Hebergements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    padding-right: 0px;
  }
  .carteh {
    margin-left: 10px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contenuprincipal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: flex-start;
    padding-left: 0px;
    padding-right: 40px;
  }
  #Afficher {
    padding-left: 20px;
  }

  .carteh {
    width: 95%;
    -webkit-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
    box-shadow: -2px 2px 12px 3px rgba(0, 0, 0, 0.18);
    padding: 0px;
    border-radius: 25px;
  }

  /* activités */
  #Activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    margin-bottom: 0px;
    padding-right: 50px;
    overflow: hidden;
  }
  #Activites p {
    padding: 0px 10px 0px 15px;
    margin-bottom: 15px;
  }
  #Activites img {
    height: 80%;
  }
  #Activites span {
    width: 100%;
    height: 200px;
    margin-bottom: 35px;
  }

  #Activites .col1 {
    width: 100%;
    padding-left: 0px;
  }
  #Activites .col2 {
    width: 100%;
    padding-left: 0px;
  }

  .cartea1 {
    overflow: hidden;
    padding-right: 0px;
  }

  .cartea2 a {
    overflow: hidden;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
  /* filtres */

  .filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
  }

  .cartef {
    margin: 10px 0px 15px 0px;
    width: 145px;
  }

  #ani {
    width: 210px;
  }
  #fami {
    width: 110px;
  }
  .infos {
    margin-bottom: 25px;
  }
  /* Hebergements */
  .contenuprincipal {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 30px;
  }

  .Populaires {
    width: 100%;
  }

  #imgh {
    width: 43%;
  }
  #imge {
    max-width: 40%;
  }

  #Hebergements {
    margin-top: 20px;
    width: 100%;
    padding-right: 0px;
  }

  /* Activités */

  #Activites {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 20px;
  }

  .cartea1 {
    width: 45%;
    height: 525px;
    margin-bottom: 25px;
  }
  .cartea2 {
    margin-bottom: 25px;
  }

  .col1 {
    width: 45%;
    padding-right: 0px;
  }

  .col2 {
    width: 45%;
    padding-right: 0px;
  }
}

@media screen and (max-width: 350px) {
  .filtres {
    height: 300px;
  }
  #fami {
    margin-top: 0px;
  }
}
