* {
  font-family: "Raleway", sans-serif;
  padding-left: 15px;
  padding-right: 10px;
}

/* header */

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.top img {
  display: flex;
  width: auto;
  height: 45px;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
.black {
  color: black;
}

.black:visited {
  color: black;
}

nav li {
  display: flex;
  justify-content: right;
  font-size: 13px;
  margin-right: 15px;
  color: #0065fc;
}

nav a:visited {
  text-decoration: none;
  color: #0065fc;
}
a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  color: #000000;
}
.sub {
  display: flex;
  align-self: center;
  color: #0065fc;
  font-weight: 700;
  padding-bottom: 15px;
}

.description {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

/* map */

.map {
  display: flex;
}

.map i {
  font-size: 12px;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.Marseille input {
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  height: 25px;
  margin-left: -25px;
  padding-bottom: 5px;
}

.bouton {
  background-color: #0065fc;
  font-weight: 700;
  color: white;
  border-width: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -12px;
}

/* filtres */

.filtres {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px 10px;
}

.filtres i {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtres p {
  font-weight: 700;
  font-size: 14px;
}
.text p {
  font-weight: 700;
  font-size: 14px;
  margin-right: 5px;
  padding-left: 0px;
}
.text {
  padding-left: 0px;
}
.eco {
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  border-left-style: none;
  display: flex;
  padding-left: 0px;
  margin-right: 10px;
}

.fami {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  border-left-style: none;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.roman {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  border-left-style: none;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.ani {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  border-left-style: none;
  padding-left: 0px;
  margin-left: 10px;
}

/* infos */

.infos {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.infos i {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  padding: 0px;
  /* width: 10px;
  height: 10px; */
}

.infos p {
  font-size: 15px;
}

/* body */

/* Hébergements à Marseille */

#Hebergements {
  background-color: #f2f2f2;
  border-radius: 1%;
  width: 65%;
}

#hebergement {
  font-size: 20px;
  margin-top: 40px;
}

.row1 {
  display: flex;
  flex-direction: row;
}
.row2 {
  display: flex;
  flex-direction: row;
}
#Hebergements img {
  object-fit: cover;
  padding: 0px 0px 0px 0px;
  border: 5px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px;
  width: 95%;
  height: 150px;
}

#Hebergements h3 {
  font-size: 15px;
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
}

#Hebergements i {
  color: #0065fc;
  margin: 5px 0px 5px -28px;
  padding: 0px 10px 0px 15px;
}

#Hebergements p {
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  padding: 0px 10px 0px 10px;
}

#Hebergements .span {
  font-weight: 700;
  margin-left: -15px;
}

#Hebergements .spani {
  padding-left: 25px;
}

/* Cannebière */

.Cannebiere {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

/* Port */

.Port {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

/* Mouettes */

.Mouettes {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

/* Mer */

.mer {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

/* Panier */

.Panier {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}

/* Amina */

.Amina {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 120%;
}
#Afficher {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 20px;
  padding-left: 50px;
  display: flex;
}

/* Les plus populaires */
.Populaires {
  background-color: #f2f2f2;
  border-radius: 1%;
  width: 25%;
  padding-left: 0px;
}

#Populaires {
  font-size: 20px;
}

.entetepopu {
  display: flex;
  justify-content: space-between;
}

.logopopu {
  font-size: 25px;
  margin-top: 16.6px;
  color: #000000;
}

.Populaires img {
  padding: 0px 0px 0px 0px;
  border: 5px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0px;
  object-fit: cover;
  max-width: 45%;
}

.Populaires h3 {
  font-size: 15px;
  padding: 0px 0px 0px 0px;
}

.Populaires .span {
  font-weight: 700;
  margin-left: -15px;
}

.Populaires p {
  font-size: 15px;
  padding: 0px 0px 0px 0px;
}

.soleil i {
  color: #0065fc;
  margin-left: -30px;
}

.eau i {
  color: #0065fc;
  margin-left: -30px;
}

.bleu i {
  color: #0065fc;
  margin-left: -30px;
}
.Populaires .spani {
  padding: 0px 0px 0px 10px;
}

/* soleil */

.soleil {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 90%;
}

.soleil img {
  height: 160px;
}
.textsoleil {
  padding-left: 5px;
  padding-right: 0px;
}
/* eau */

.eau {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 90%;
}

.eau img {
  height: 160px;
}

.texteau {
  padding-left: 5px;
  padding-right: 0px;
}
/* bleu */

.bleu {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 90%;
}

.bleu img {
  width: 65%;
  height: 150px;
}
.textbleu {
  padding-left: 5px;
  padding-right: 0px;
}
.contenuprincipal {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Activités */

#Activites {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 50px;
}

#Activites span {
  -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
  -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
  box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
  padding: 0px;
  border-radius: 25px;
}

#Activites img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px;
  max-width: 100%;
}

#Activites h4 {
  margin: 10px;
}
/* vieux port */
.vieuxport img {
  width: 100%;
  height: 90%;
}
.vieuxport {
  width: 20%;
  height: 500px;
}

.vieuxport h4 {
  padding: 0px;
  background-color: white;
}

/* Fort */

.col1 {
  width: 25%;
}
.Fort {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
}

.Fort img {
  width: 100%;
  height: 80%;
}
.Fort h4 {
  margin-top: 5px;
}
/* Iles */
.iles {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.iles img {
  width: 100%;
  height: 80%;
}

/* calanques */

.Calanques img {
  width: 100%;
  height: 90%;
}
.Calanques {
  width: 20%;
  height: 500px;
}

/* notre dame */
.col2 {
  width: 25%;
}
.notredame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.notredame img {
  width: 100%;
  height: 80%;
}
.notredame h4 {
  margin-top: 5px;
}

/* Parc */
.Parc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

.Parc img {
  width: 100%;
  height: 80%;
}
.Parc h4 {
  margin-top: 5px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

footer ul {
  list-style: none;
}

footer li {
  padding: 0px;
  margin-bottom: 10px;
}

h5 {
  font-size: 19px;
}

/* Mediaquerries */
/* Mobile */

@media screen and (max-width: 768px) {
  /* header */

  .top {
    height: 200px;
  }

  .top img {
    display: flex;
    align-content: baseline;
    justify-content: flex-start;
  }
  .sub {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
  }

  .filtres {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    height: 250px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
  }

  .eco {
    width: 140px;
    margin-bottom: 15px;
  }
  .roman {
    margin-left: 0px;
    margin-bottom: 15px;
    width: 140px;
  }

  .ani {
    margin-left: 0px;
    width: 190px;
  }
  .fami {
    width: 100px;
    display: flex;
    order: 4;
    margin-top: 45px;
  }
  .infos {
    margin-left: 10px;
    margin-bottom: 25px;
  }

  /* Populaires  */

  .Populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* hébergements */

  #Hebergements h2 {
    font-size: 25px;
  }
  #Hebergements img {
    width: 98%;
  }
  #Hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    padding-left: 0px;
  }

  .row1 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .contenuprincipal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: flex-start;
    padding-left: 0px;
  }
  #Afficher {
    padding-left: 20px;
  }

  .Cannebiere {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }

  .Port {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }

  .Mouettes {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }

  .mer {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }
  .Panier {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }

  .Amina {
    width: 100%;
    -webkit-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    -moz-box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    box-shadow: 10px 10px 12px 6px rgba(242, 242, 242, 1);
    padding: 0px;
    border-radius: 25px;
  }
  /* activités */
  #Activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  #Activites h4 {
    padding: 0px 10px 0px 15px;
    margin-bottom: 15px;
  }
  #Activites img {
    height: 80%;
  }
  #Activites span {
    width: 100%;
    height: 200px;
    margin-bottom: 35px;
  }

  #Activites .col1 {
    width: 100%;
    padding-left: 0px;
  }
  #Activites .col2 {
    width: 100%;
    padding-left: 0px;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
  /* filtres */

  .filtres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 180px;
    margin-bottom: 35px;
    padding-bottom: 0px;
    margin-left: 0px;
    width: 75%;
    margin-top: 0px;
    padding-top: 0px;
  }
  .eco {
    width: 140px;
    margin-bottom: 15px;
  }
  .roman {
    margin-left: 0px;
    margin-bottom: 15px;
    width: 140px;
  }

  .ani {
    margin-left: 0px;
    width: 190px;
  }
  .fami {
    width: 100px;
    margin-left: 0px;
  }
  .infos {
    margin-bottom: 25px;
  }
  /* Hebergements */
  .contenuprincipal {
    display: flex;
    flex-direction: column-reverse;
  }

  .Populaires {
    width: 100%;
  }
  .Populaires img {
    width: 50%;
  }

  #Hebergements {
    margin-top: 20px;
    width: 100%;
  }

  /* Activités */

  #Activites {
    display: flex;
    flex-wrap: wrap;
  }

  .vieuxport {
    width: 45%;
  }
  .col1 {
    width: 45%;
  }

  .Calanques {
    width: 45%;
    margin-top: 20px;
  }
  .col2 {
    width: 45%;
    margin-top: 20px;
  }
}
